
.icon-shield:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-sword:before { content: '\e802'; } /* '' */
.icon-axe:before { content: '\e803'; } /* '' */
.icon-flag:before { content: '\e804'; } /* '' */
.icon-monster:before { content: '\e805'; } /* '' */
.icon-boss:before { content: '\e806'; } /* '' */
.icon-gold:before { content: '\e807'; } /* '' */
.icon-shop:before { content: '\e808'; } /* '' */
.icon-warrior:before { content: '\e809'; } /* '' */
.icon-helmet:before { content: '\e80a'; } /* '' */
.icon-ring:before { content: '\e80b'; } /* '' */
.icon-success:before { content: '\e80c'; } /* '' */
.icon-shield-plus:before { content: '\e80d'; } /* '' */
.icon-question:before { content: '\e80e'; } /* '' */
.icon-ko:before { content: '\e80f'; } /* '' */
.icon-warlock:before { content: '\e810'; } /* '' */
.icon-fire:before { content: '\e811'; } /* '' */
.icon-skeleton:before { content: '\e812'; } /* '' */
.icon-goblin:before { content: '\e813'; } /* '' */
.icon-spider:before { content: '\e814'; } /* '' */
